.bank__details {
  border: 1px solid #e6eef4;
  width: 100%;
  border-collapse: collapse;

  tr {
    padding: 0.5rem 1rem;
    border-top: 1px solid #e6eef4;
  }
  &__table-header {
    width: inherit;
    display: inline-block;
    margin-right: 2rem;
    background-color: #e6eef4;
    span {
      color: #00b2ff;
    }
  }

  &__row__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}
