@import "assets/styles/mixins.scss";

.custom-pagination {
  :global(.ant-pagination-item) {
    border-radius: 50%;
  }

  :global(.ant-pagination-item-link) {
    border-radius: 50%;
  }

  :global(.ant-pagination-disabled) {
    display: none;
  }

  :global(.ant-table-pagination.ant-pagination) {
    float: none;
    display: flex;
    flex-wrap: wrap;
  }

  :global(.ant-pagination-total-text) {
    flex-grow: 1;

    @media (max-width: $xs-max-width) {
      width: 100%;
    }
  }
}

.search-input {
  width: rem(250);
  @media (max-width: $xs-max-width) {
    width: rem(180);
  }
}
