@import "assets/styles/mixins.scss";

.list__item {
  list-style-type: square;
  margin: 15px 0;
  padding: 0;
  &__number {
    display: flex;
    align-items: center;
    span {
      &:first-child {
        background-color: $darkblue;
        color: #fff;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        font-weight: normal;
      }
    }
  }
  li {
    margin-left: 2.6rem;
    margin-bottom: 0.5rem;
  }
}

.blue-item {
  color: #00b2ff;
}
.red-color {
  color: #f81d22;
}
.font-bold {
  font-weight: bold;
}

.example {
  width: 40%;
  margin-left: 2.6rem;
  span {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.total__text {
  border-top: 2px solid;
  margin-top: 0.5rem;
  color: $darkblue;
}
