@import "assets/styles/mixins.scss";

// #right {
//   background: url("../../assets/images/login/login-right.png") no-repeat;
//   background-size: contain;
//   background-position: bottom;
// }

#logo {
  margin-top: -4rem;
  max-height: 7rem;
}

@media only screen and (min-width: 992px) {
  #left {
    background: url("../../assets/images/login/login-left.png") no-repeat;
    background-size: contain;
    height: 100%;
  }
}

#public-layout {
  a {
    color: $darkpurple;
  }
}
@media only screen and (min-width: 100px) {
  .link {
    position: absolute;
    right: 10px;
    bottom: auto;
  }
  .footer {
    position: absolute;
    bottom: 0;
    height: 100px !important;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    position: absolute;
    bottom: 0;
    height: 130px !important;
    width: 100%;
  }
  .link {
    position: absolute;
    right: 10px;
    bottom: 130px;
  }
}
@media only screen and (min-width: 992px) {
  .footer {
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
  }
  .link {
    position: absolute;
    right: 10px;
    bottom: 150px;
  }
}
.login {
  min-height: 820px;
}

.rightBlock {
  min-height: 850px;
}

.publicContainer {
  @media only screen and (max-width: 768px) {
    min-height: inherit;
  }
  padding-left: 10%;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: rem(120);
  color: $text;
  article {
    flex-grow: 1;
  }
  @media only screen and (max-width: 768px) {
    padding-left: 15px;
    padding-bottom: rem(120);
    display: flex;
    flex-direction: column;
    article {
      flex-grow: 1;
    }
  }
}

.publicContent {
  flex-grow: 1;
}

.powerBy {
  margin: 2rem 0 3rem 0;
  text-align: right;
  max-width: rem(700);
  padding-right: 3rem;
  img {
    max-width: 220px;
    height: auto;
  }
  @media only screen and (max-width: 768px) {
    padding-right: 0;
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: center;
    a {
      display: block;
      text-align: right;
      width: 100%;
      padding-right: 10px;
    }
  }
}
