.header-card {
  .ant-card-head {
    min-height: 10rem;
    text-align: center;
    background: linear-gradient(45deg, #005691, #f4f7f6);
    border-top-left-radius: 0.66rem;
    border-top-right-radius: 0.66rem;
  }
  .ant-avatar {
    margin-top: -6.67rem;
    cursor: pointer;
    border-radius: 75px;
    border: solid 3px white;
    box-shadow: 0 10px 35px -5px rgba(0, 0, 0, 0.15);
    background-color: #005691;
  }
}
